
.wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-rows: 64px auto;
}

.main {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 10px;
    grid-template-columns:  300px auto;
    grid-template-rows: 100%;
    overflow: auto;
}

.leftPane {
    display: grid;
    grid-template-rows:  100%;
}

.treeContainer {

}

.logContainer {

}

.rightPane {

}

.fill {
    width: 100%;
    height: 100%;
}
